{
  "extends": [
    "@antfu",
    "@unocss"
  ],
  "rules": {
    "vue/valid-v-slot": [
      "warn",
      {
        "allowModifiers": true
      }
    ],
    "vue/v-on-event-hyphenation": "off"
  }
}
